rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isRoomCreatingData(data) {
      return data.keys().hasOnly(["createdAt", "usersName", "gameCount", "isDuringGame", "themeImg", "correctAnswer"])
    }
    
    function isUserCreatingData(data) {
      return data.keys().hasOnly(["displayName", "isHost", "actOrder", "answers", "score"])
    }
    
    match /hgs/v1/rooms/{roomId} {
      allow get, update, delete: if true;
      allow create: if isRoomCreatingData(request.resource.data);
      match /users/{userId} {
        allow read, update, delete: if true;
        allow create: if isUserCreatingData(request.resource.data);
      }
    }
  }
}